.header-social {
    position: fixed;
    z-index: 100;
    top: 30vh;
    right: 2vw;

    .header-social-wrapper {
        margin-top: 1rem;
        list-style: none;

        a {
            &:hover {

                color: $secondary-color;
                @include easyTransition
            }

            .fab {
                padding-bottom: 1rem;
            }
        }
    }
}