.header-social {
    position: fixed;
    z-index: 100;
    top: 30vh;
    right: 2vw;

    .header-social-wrapper {
        margin-top: 1rem;
        list-style: none;

        .header-social-item {
            display: flex;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            line-height: 2rem;
            margin-bottom: 0.5rem;
            background-color: $secondary-color;

            &:hover {
                opacity: 0.6;
                @include easyTransition
            }
        }

        a {
            color: $primary-white;



            .fab {
                font-size: 1.3rem;
            }
        }
    }
}