//BIG SCREENS

@include xl {}

// DESKTOP & LAPTOPS
@include lg {}

// TABLETS

@include md {}

// MOBILE
@include sm {
    .title {
        transform: translate(-50%, 20vh);
    }

    .lg-heading {
        font-size: 1.6rem;
    }

    .sm-heading {
        font-size: 1.2rem
    }

    .fa-2x {
        font-size: 1.6rem;
    }

    #preloading-screen .load-inner {
        left: 50vw;
        top: 40vh;

        h3 {
            font-size: 4vh;
        }
    }

    .about h1.lg-heading,
    .my-technology h1.lg-heading,
    .projects h1.lg-heading,
    .contact-form h1.lg-heading {
        font-size: 1.6rem;

    }

    .header-social {
        top: 2vh;
        right: 3vw;
    }

    .images-icons {
        display: flex;
    }

    .footer-wrapper {
        .text-footer-wrapper {
            flex-direction: column;
        }
    }

    .projects .card .card-img {
        padding: 0.5rem;
        height: auto;
    }

    .projects {
        .card {
            &:hover {
                .card-img {
                    transform: scale(1);
                }
            }
        }
    }

}


//MOBILE NAVIGATION

@include mobileNavigation {


    div.menu-left-side,
    ul.menu-links {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }


    .menu-links {
        height: 70vh;
        transform: translate3d(100%, 0, 0);
    }

    .menu-left-side {
        height: 30vh;
        transform: translate3d(-100%, 0, 0);

        .my-picture {
            background: url('../images/mypicture150.jpg');
            width: 150px;
            height: 150px;
        }
    }
}

// MOBILE LANDSCAPE
@include landscape {
    .menu-left-side {
        .my-picture {
            width: 80px;
            height: 80px;
        }
    }

    .menu-links {
        .nav-item {
            padding: 0.3rem;
            font-size: 13px;
        }
    }

    .title {
        transform: translate(-53%, 10vh);
    }
}